node_modules
.next
.env
.env.local
coverage
dist
*.log
*.tsbuildinfo
.DS_Store

# Business Central files from original repository template
.vscode/
.alcache/
.alpackages/
.snapshots/
.output/
*.app
rad.json
*.g.xlf
*.bclicense
*.flf
TestResults.xml
